venv/
.Rhistory
__pycache__
.DS_Store
.vscode/
*Zone.Identifier
*.Rhistory
data/clustering/deeploc/deeploc.ProtSEC_matrix.csv
data/clustering/deeploc/deeploc.esm2_small_matrix.csv
venv/lib/python3.12/site-packages/nvidia/nccl/lib/libnccl.so.2
venv/lib/python3.12/site-packages/xgboost/lib/libxgboost.so
.git/objects/pack/pack-bc849c72fc67bf35989c6304ebad48bc6ef005d9.pack
.git/objects/pack/pack-0cad82c10f2a9d5fa12f8a9284b271f2cd937c10.pack
analysis/EC_CARE_task1/fastas/esm2_small_dis_matrix.csv
.venv/lib/python3.13/site-packages/torch/lib/libtorch_cpu.dylib
venv/lib/python3.11/site-packages/torch/lib/libtorch_cpu.dylib
.git/objects/pack/pack-68838120350677678363d1c57787b470dd35a7b8.pack
analysis/EC_CARE_task1/fastas/esm2_small_dis_matrix.csv
.venv/lib/python3.13/site-packages/torch/lib/libtorch_cpu.dylib
venv/lib/python3.11/site-packages/torch/lib/libtorch_cpu.dylib
.git/objects/pack/pack-68838120350677678363d1c57787b470dd35a7b8.pack
venv/lib/python3.12/site-packages/nvidia/nccl/lib/libnccl.so.2
venv/lib/python3.12/site-packages/xgboost/lib/libxgboost.so
.git/objects/pack/pack-bc849c72fc67bf35989c6304ebad48bc6ef005d9.pack
.git/objects/pack/pack-0cad82c10f2a9d5fa12f8a9284b271f2cd937c10.pack
.git/objects/pack/pack-5a2eb867114960fbde3e2412c842a2669d07c939.pack
prot_bert_dis_matrix.csv
analysis/EC_CARE_task1/fastas/sample_30-50_5000_esm2small.csv
analysis/EC_CARE_task1/fastas/sample_30-50_5000_esm2small.csv.gz
analysis/EC_CARE_task1/fastas/sample_30-50_5000_esm2large.csv.gz
analysis/EC_CARE_task1/fastas/sample_30-50_5000_protbert.csv.gz
venv/lib/python3.12/site-packages/nvidia/nccl/lib/libnccl.so.2
venv/lib/python3.12/site-packages/xgboost/lib/libxgboost.so
.git/objects/pack/pack-bc849c72fc67bf35989c6304ebad48bc6ef005d9.pack
.git/objects/pack/pack-0cad82c10f2a9d5fa12f8a9284b271f2cd937c10.pack
.git/objects/pack/pack-5a2eb867114960fbde3e2412c842a2669d07c939.pack
prot_bert_dis_matrix.csv
analysis/EC_CARE_task1/fastas/sample_30-50_5000_esm2small.csv
analysis/EC_CARE_task1/fastas/backup/sample_30-50_5000_esm2small.csv.gz
analysis/EC_CARE_task1/fastas/sample_30-50_5000_prott5.csv
analysis/EC_CARE_task1/fastas/sample_30-50_5000_ProtSEC.csv
analysis/EC_CARE_task1/fastas/sample_30-50_2000_esm2large.csv
analysis/EC_CARE_task1/fastas/sample_30-50_5000_esm2large.csv
analysis/EC_CARE_task1/fastas/sample_30-50_5000_protbert.csv
esm2_small_dis_matrix.csv
venv/lib/python3.12/site-packages/nvidia/nccl/lib/libnccl.so.2
venv/lib/python3.12/site-packages/xgboost/lib/libxgboost.so
.git/objects/pack/pack-bc849c72fc67bf35989c6304ebad48bc6ef005d9.pack
.git/objects/pack/pack-0cad82c10f2a9d5fa12f8a9284b271f2cd937c10.pack
.git/objects/pack/pack-5a2eb867114960fbde3e2412c842a2669d07c939.pack
prot_bert_dis_matrix.csv
analysis/similarity_search/GeneAnnotation/venv/lib/python3.12/site-packages/nvidia/cuda_nvrtc/lib/libnvrtc.so.12
analysis/similarity_search/GeneAnnotation/venv/lib/python3.12/site-packages/nvidia/cuda_nvrtc/lib/libnvrtc.alt.so.12
analysis/similarity_search/GeneAnnotation/venv/lib/python3.12/site-packages/nvidia/curand/lib/libcurand.so.10
analysis/similarity_search/GeneAnnotation/venv/lib/python3.12/site-packages/nvidia/cufft/lib/libcufft.so.11
analysis/similarity_search/GeneAnnotation/venv/lib/python3.12/site-packages/nvidia/cublas/lib/libcublas.so.12
analysis/similarity_search/GeneAnnotation/venv/lib/python3.12/site-packages/nvidia/cublas/lib/libcublasLt.so.12
analysis/similarity_search/GeneAnnotation/venv/lib/python3.12/site-packages/nvidia/cusolver/lib/libcusolver.so.11
analysis/similarity_search/GeneAnnotation/venv/lib/python3.12/site-packages/nvidia/cusolver/lib/libcusolverMg.so.11
analysis/similarity_search/GeneAnnotation/venv/lib/python3.12/site-packages/nvidia/nccl/lib/libnccl.so.2
analysis/similarity_search/GeneAnnotation/venv/lib/python3.12/site-packages/nvidia/cusparse/lib/libcusparse.so.12
analysis/similarity_search/GeneAnnotation/venv/lib/python3.12/site-packages/nvidia/cusparselt/lib/libcusparseLt.so.0
analysis/similarity_search/GeneAnnotation/venv/lib/python3.12/site-packages/nvidia/cudnn/lib/libcudnn_adv.so.9
analysis/similarity_search/GeneAnnotation/venv/lib/python3.12/site-packages/nvidia/cudnn/lib/libcudnn_engines_precompiled.so.9
analysis/similarity_search/GeneAnnotation/venv/lib/python3.12/site-packages/nvidia/cudnn/lib/libcudnn_ops.so.9
analysis/similarity_search/GeneAnnotation/venv/lib/python3.12/site-packages/triton/_C/libtriton.so
analysis/similarity_search/GeneAnnotation/venv/lib/python3.12/site-packages/torch/lib/libtorch_cpu.so
analysis/similarity_search/GeneAnnotation/venv/lib/python3.12/site-packages/torch/lib/libtorch_cuda_linalg.so
analysis/similarity_search/GeneAnnotation/venv/lib/python3.12/site-packages/torch/lib/libtorch_cuda.so
analysis/similarity_search/GeneAnnotation/venv/lib/python3.12/site-packages/xgboost/lib/libxgboost.so
analysis/similarity_search/GeneAnnotation/.git/objects/pack/pack-51314e4d880f4d29d261de31754d6497888c32dc.pack
analysis/similarity_search/GeneAnnotation/vector.db
analysis/EC_CARE_task1/fastas/sample_30-50_5000_esm2small.csv
analysis/EC_CARE_task1/fastas/backup/sample_30-50_5000_esm2small.csv.gz
analysis/EC_CARE_task1/fastas/sample_30-50_5000_prott5.csv
analysis/EC_CARE_task1/fastas/sample_30-50_5000_ProtSEC.csv
analysis/EC_CARE_task1/fastas/sample_30-50_2000_esm2large.csv
analysis/EC_CARE_task1/fastas/sample_30-50_5000_esm2large.csv
analysis/EC_CARE_task1/fastas/sample_30-50_5000_protbert.csv
esm2_small_dis_matrix.csv
